.highlighted {
  border-radius: 12px;
  color: #ffc80b;
  border: solid 3px #ffc80b;
  width: 48px;
  height: 48px;
  background: #fff6d6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.default {
  border-radius: 12px; /* セミコロンが必要 */
  border: 3px solid #c7d2db; /* border-solidは無効なプロパティ */
  color: #c7d2db;
  width: 48px;
  height: 48px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center; /* alignItemsは無効。align-itemsが正しい */
}
