.highlighted {
  border-radius: 12px;
  color: #41bcff;
  border: solid 3px #41bcff;
  width: 48px;
  height: 48px;
  background: #f1fafd;
  display: flex;
  justify-content: center;
  align-items: center;
}
