.highlighted {
  border-radius: 12px;
  color: #41bcff;
  border: solid 3px #41bcff;
  width: 48px;
  height: 48px;
  background: #f1fafd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bbb {
  border-radius: 12px; /* セミコロンが必要 */
  border: 3px solid #c7d2db; /* border-solidは無効なプロパティ */
  color: #c7d2db;
  width: 48px;
  height: 48px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center; /* alignItemsは無効。align-itemsが正しい */
}
