.highlighted {
  border-radius: 12px;
  border: 3px solid #e54671;
  color: #e54671;
  width: 48px;
  height: 48px;
  background: #ffe3e3;
  display: flex;
  justify-content: center;
  align-items: center;
}
