.layout {
  padding-top: 12vh;
  height: 85vh;
}

.layout-main {
  display: flex;
  flex-direction: row;
  background-color: #f3f5f6;
  width: 90vw;
  margin: 0 auto;
  gap: 46px;
}

.layout-inputform {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
